/.idea
/escout.iml
*.pyc
/escout_env
log.txt
/escout/escout.iml
/back-end.iml
back-end.iml
escout/__pycache__/
escout/modules/__pycache__/
escout/collector/__pycache__/
escout/collector/migrations/__pycache__/
escout/dashboard/__pycache__/
escout/dashboard/migrations/__pycache__/
escout/guard/__pycache__/
escout/guard/migrations/__pycache__/
